<!-- Wappler include head-page="layouts/Frame" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="Frame" appConnect="local" components="{dmxNotifications:{},dmxBrowser:{},dmxStateManagement:{},dmxValidator:{},dmxBootstrap5Modal:{},dmxBootbox5:{},dmxFormatter:{}}" jquery_slim_35="local" moment_2="local" -->
<link href="/css/Frame.css" rel="stylesheet" />
<meta content="/Frame" name="ac:route">
<div id="browser" is="dmx-browser">
</div>
<dmx-cookie-manager id="cookies">
</dmx-cookie-manager>
<dmx-notifications id="notify" timeout="500">
</dmx-notifications>
<div class="d-flex" fid="1:2" id="Frame">
    <header fid="1:3" fname="Contact Support" id="Contact_Support">
        Contact Support
    </header>
    <div fid="85:2" fname="Frame 1" id="_85_2">
    </div>
    <div fid="85:3" fname="Frame 2" id="_85_3">
    </div>
</div>