dmx-serverconnect {
display: none
}

html {
height:auto;
min-height:100vh !important;
}

body {
height:auto;
background-color:rgba(31.264063082635403, 129.31955516338348, 227.37499594688416, 1.0);
}

#Frame_div {
height:auto;
min-height:100vh !important;
}

w-include {
height:0px !important;
}

#Frame {
height:inherit;
min-height:inherit;
background-color:rgba(31.264063082635403, 129.31955516338348, 227.37499594688416, 1.0);
border-radius:7.0px;
}

#_1_3 {
position:absolute;
left:207.0px;
top:16.0px;
height:26.0px;
width:157.0px;
font-family:Inter;
font-weight:400;
font-size:20.0px;
letter-spacing:0.0px;
line-height:100.0%;
justify-content:LEFT;
align-items:start;
color:rgba(255.0, 255.0, 255.0, 1.0);
display:flex;
}

#_1_5 {
position:absolute;
left:556.0px;
top:130.0px;
height:1.0px;
width:10.0px;
border-bottom:0px !important;
border-width:1.0px;
border-style:SOLID;
border-color:rgba(0.0, 0.0, 0.0, 0.5);
}

#_1_8 {
position:absolute;
left:556.0px;
top:206.0px;
height:1.0px;
width:10.0px;
border-bottom:0px !important;
border-width:1.0px;
border-style:SOLID;
border-color:rgba(0.0, 0.0, 0.0, 0.5);
}

#_1_11 {
position:absolute;
left:556.0px;
top:282.0px;
height:1.0px;
width:10.0px;
border-bottom:0px !important;
border-width:1.0px;
border-style:SOLID;
border-color:rgba(0.0, 0.0, 0.0, 0.5);
}

#_1_6 {
position:absolute;
left:556.0px;
top:136.0px;
height:1.0px;
width:10.0px;
border-bottom:0px !important;
border-width:1.0px;
border-style:SOLID;
border-color:rgba(0.0, 0.0, 0.0, 0.5);
}

#_1_9 {
position:absolute;
left:556.0px;
top:212.0px;
height:1.0px;
width:10.0px;
border-bottom:0px !important;
border-width:1.0px;
border-style:SOLID;
border-color:rgba(0.0, 0.0, 0.0, 0.5);
}

#_1_12 {
position:absolute;
left:556.0px;
top:288.0px;
height:1.0px;
width:10.0px;
border-bottom:0px !important;
border-width:1.0px;
border-style:SOLID;
border-color:rgba(0.0, 0.0, 0.0, 0.5);
}

#_1_7 {
position:absolute;
left:556.0px;
top:143.0px;
height:1.0px;
width:10.0px;
border-bottom:0px !important;
border-width:1.0px;
border-style:SOLID;
border-color:rgba(0.0, 0.0, 0.0, 0.5);
}

#_1_10 {
position:absolute;
left:556.0px;
top:219.0px;
height:1.0px;
width:10.0px;
border-bottom:0px !important;
border-width:1.0px;
border-style:SOLID;
border-color:rgba(0.0, 0.0, 0.0, 0.5);
}

#_1_13 {
position:absolute;
left:556.0px;
top:295.0px;
height:1.0px;
width:10.0px;
border-bottom:0px !important;
border-width:1.0px;
border-style:SOLID;
border-color:rgba(0.0, 0.0, 0.0, 0.5);
}

