dmx-serverconnect {
display: none
}

html {
height:auto;
min-height:100vh !important;
}

body {
height:auto;
background-color:rgba(31.264063082635403, 129.31955516338348, 227.37499594688416, 1.0);
}

#Frame_div {
height:auto;
min-height:100vh !important;
}

w-include {
height:0px !important;
}

#Frame {
height:inherit;
min-height:inherit;
background-color:rgba(31.264063082635403, 129.31955516338348, 227.37499594688416, 1.0);
border-radius:7.0px;
}

#Contact_Support {
position:absolute;
left:37.0px;
top:17.0px;
height:26.0px;
width:157.0px;
font-family:Inter;
font-weight:400;
font-size:20.0px;
letter-spacing:0.0px;
line-height:100.0%;
justify-content:LEFT;
align-items:start;
color:rgba(255.0, 255.0, 255.0, 1.0);
display:flex;
}

